// Achivement area start here ***
.achivement {
	&-area {
		overflow: hidden;
	}
	&-left {
		max-width: 600px;
		position: relative;
		z-index: 1;
		height: 100%;
		.shape {
			position: absolute;
			bottom: 30px;
			left: 0;
			z-index: -1;
		}
	}
	&__item {
		@include justify-wrp;
		gap: 10px;
		padding: 50px 0;
		border-top: 1px solid var(--border);
		position: relative;
		&:last-child {
			padding-bottom: 0;
		}
		.title {
			width: 52%;
		}
		.sub-title {
			width: 28%;
		}
		.hover-image {
			width: 300px;
			height: 400px;
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			background-size: cover;
			background-repeat: no-repeat;
			background-position-x: 75%;
			opacity: 0;
			-webkit-transition: opacity 0.3s,
				-webkit-transform 0.7s cubic-bezier(0.23, 1, 0.32, 1);
			transition: opacity 0.3s,
				-webkit-transform 0.7s cubic-bezier(0.23, 1, 0.32, 1);
			transition: opacity 0.3s, transform 0.7s cubic-bezier(0.23, 1, 0.32, 1);
			transition: opacity 0.3s, transform 0.7s cubic-bezier(0.23, 1, 0.32, 1),
				-webkit-transform 0.7s cubic-bezier(0.23, 1, 0.32, 1);
			margin: -200px 0 0 -150px;
			overflow: hidden;
			pointer-events: none;
		}
		&:hover {
			.hover-image {
				opacity: 1;
			}
		}
	}
}
// Achivement area end here ***
